---
layout: default
---
<div class="post-header-container {% if page.cover %}has-cover{% endif %}" {% if page.cover %}style="background-image: url({{ page.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if page.cover %}has-cover{% endif %}">
    <header class="post-header">
      <h1 class="title">{{ page.title }}</h1>
      <p class="info">{{ page.date | date: "%B %-d, %Y" }}</strong></p>
    </header>
  </div>
</div>

<div class="wrapper">


<article class="post-content">
	<div class="card" style="margin-bottom: 2em;">
		<div class="card-body">
			<h3 class="card-title">Dive Stats</h3>
			<p class="card-text">
				<div class="row">

					<div class="col-sm">
            <div>
              <b>Location:</b> {{page.divelog.location}}
            </div>
						<div>
							<b>Depth:</b> {{page.divelog.depth}}ft
						</div>
						<div>
							<b>Bottom Time:</b> {{page.divelog.bottom_time}} mins
						</div>
						<div>
							<b>Gas:</b> {{page.divelog.gas}}
						</div>
					</div>
					<div class="col-sm">
						<div>
							<b>Visibility:</b> {{page.divelog.visibility}}
						</div>
						<div>
							<b>Temperature:</b> {{page.divelog.water_temp}}°
						</div>
					</div>
				</div>
        {% if page.divelog.stops or page.divelog.team %}
				<hr/>
        
				<div class="row">
					<div class='col-sm'>
            {% if page.divelog.stops %}
						<h4>Stops</h4>
				<ul>
          
					{% for stop in page.divelog.stops %}
						<li>{{stop.depth}}ft for {{stop.time}} mins 
							{% if stop.gas %}
								with {{stop.gas}} 
							{%endif%}
							{% if stop.reason %}
								for {{stop.reason}}
								{%endif%}
						</li>
					{% endfor %}
          
				</ul>
        {%endif%}
					</div>
          {% if page.divelog.team %}
					<div class="col-sm">
						<h4>Team</h4>
						<ul>
							{% for member in page.divelog.team %}
								<li>
									{{member}}
								</li>
							{%endfor%}
						</ul>
					</div>
          {%endif%}
				</div>
        {%endif%}
				
				
			</p>
		</div>
	</div>
  <h3>Comments</h3>
	{{content}}
	<hr/>
</article>